---
- name: Update apt cache
  apt:
    update_cache: true
    cache_valid_time: "{{ apt_update_cache_valid_time | default(3600) }}"

- name: Install base packages
  apt:
    name:
      - ca-certificates
      - curl
      - gnupg
      - ufw
    state: present
    update_cache: true

- name: Allow HTTP through UFW
  ufw:
    rule: allow
    port: '80'
    proto: tcp

- name: Allow HTTPS through UFW
  ufw:
    rule: allow
    port: '443'
    proto: tcp

- name: Enable and enforce UFW
  ufw:
    state: enabled
    policy: deny
